@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cu-gold: #cfb87c;
  --color-cu-black: #000000;
  --color-cu-dark-gray: #565a5c;
  --color-cu-light-gray: #a2a4a3;
}
